!!!
%html
  %head
    %title Invitations
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-static-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            = link_to 'Brand', '/', class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li
            = link_to 'Send Invitation', admin_root_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to 'Profile', edit_user_registration_path
            %li
              = link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to 'Sign in', new_user_session_path
    .container
      = bootstrap_flash
      = yield